In [2]:
numbers = [951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725,
547, 544, 615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390,
984, 592, 236, 105, 942, 941, 386, 462, 47, 418, 907, 344, 236,
375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219,
918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815,
67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445,
742, 717, 958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440,
380, 126, 721, 328, 753, 470, 743, 527]

a = 0
while a <= len(numbers):
    if numbers [a] % 2:
        print(numbers[a])
    if numbers[a] == 553:
        break
    a+=1

951
651
69
319
601
485
507
725
547
615
83
165
141
501
263
617
865
575
219
105
941
47
907
375
823
597
615
953
345
399
219
237
949
687
217
815
67
767
553

In [4]:
for i in range(1,5):
 for j in range(i):
  print("*", end=" ")
 print()

*
* *
* * *
* * * *